/* my style */

body {
	margin: 0 auto;
	vertical-align: middle;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
	padding-right: 60px !important;
	padding-left: 60px !important;
	width: 970px;
}

div.col25 {
	width: 170px;
	float: left;	
}

div.col75 {
	width: 600px;
	float: left;	
}

div#res-header {
	border-bottom: 5px solid;
}

div#res-header > h2 {
	font-size: 2.2em;
    text-transform: uppercase;
    margin: 10px 0 -10px;
}

div#res-header > p {
	font-size: 1.1em;
	margin-bottom: 5px;
}

div.part {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

div.res-name {
	background-color: #e5b8b7;
	padding-left: 5px;
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 10px;
}

div.part-seperator {
	margin-top: 5px;
	margin-bottom: 5px;
}

a {
	text-decoration: none;
    color: #333;
    border-bottom: 1px solid;
}

li {
	margin-top: 5px;
	margin-bottom: 5px;
}